@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Staging Data", "Index", "Staging", new { }, new { @class = "btn" })
@Html.ActionLink("Data Views", "Index", "DataView", new { }, new { @class = "btn" })



