@model IEnumerable<Data_Loading_Tool.Models.DataViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataViewName)
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.ActionLink(item.DataViewName, "ViewDetails", new { viewID = item.DataViewID }, new { @class = "btn btn-link" })
        </td>        
    </tr>
}

</table>
