@model Data_Loading_Tool.Models.StagingDetailModel

@{
    ViewBag.Title = "Staging Table Details";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/dataTables.tableTools.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.JS"></script>
    <script src="~/Scripts/dataTables.tableTools.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#dataView').DataTable(
                                    {
                                        dom: 'T<"clear">lfrtip',
                                        "orderClasses": false,
                                        tableTools: { "sSwfPath": "../Content/copy_csv_xls_pdf.swf" }
                                    }
                                    );

        });
    </script>
}
<h2>Staging Table Details</h2>

<table border="1" cellpadding="5" id="dataView" class="table display" cellspacing="0">

    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Data.Columns)
            {
                <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Data.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>@cell.ToString()</td>
                }
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn" })
</p>
